# PYTHON PROGRAMMING ASIIGNMENT_23

Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    num_str = str(num)
    reverse_str = num_str[::-1] # reverse the string
    return num_str == reverse_str

# example usage
print(is_symmetrical(7227)) # True
print(is_symmetrical(12567)) # False
print(is_symmetrical(44444444)) # True
print(is_symmetrical(9939)) # False
print(is_symmetrical(1112111)) # True

True
False
True
False
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [2]:
def multiply_nums(nums_str):
    nums_list = nums_str.split(", ")
    product = 1
    for num in nums_list:
        product *= int(num)
    return product

# example usage
print(multiply_nums("2, 3")) # 6
print(multiply_nums("1, 2, 3, 4")) # 24
print(multiply_nums("54, 75, 453, 0")) # 0
print(multiply_nums("10, -2")) # -20

6
24
0
-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

In [3]:
def square_digits(num):
    num_str = str(num)
    new_str = ""
    for digit in num_str:
        square = int(digit) ** 2
        new_str += str(square)
    return int(new_str)

# example usage
print(square_digits(9119)) # 811181
print(square_digits(2483)) # 416649
print(square_digits(3212)) # 9414

811181
416649
9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [4]:
def setify(lst):
    return sorted(list(set(lst)))

# example usage
print(setify([1, 3, 3, 5, 5])) # [1, 3, 5]
print(setify([4, 4, 4, 4])) # [4]
print(setify([5, 7, 8, 9, 10, 15])) # [5, 7, 8, 9, 10, 15]
print(setify([3, 3, 3, 2, 1])) # [1, 2, 3]

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6

In [5]:
def mean(num):
    # convert number to string and split into digits
    digits = [int(d) for d in str(num)]
    
    # calculate mean of digits
    return sum(digits) / len(digits)

# example usage
print(mean(42)) # 3.0
print(mean(12345)) # 3.0
print(mean(666)) # 6.0

3.0
3.0
6.0